/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* 페이지 내 헤더 스타일 */
h2 {
    color: #4169E1;
    margin: 160px auto 10px;
    text-align: center;
}

/* 폼 스타일 */
form {
    max-width: 400px;
    margin: 30px auto 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 입력 필드 스타일 */
label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 버튼 스타일 */
input[type="submit"] {
    background-color: #4169E1;
    color: #fff;
    cursor: pointer;
}

/* 결과 페이지 스타일 */
.result-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* 텍스트를 수직 중앙으로 정렬하기 위해 flexbox 사용 */
    flex-direction: column; /* 텍스트를 세로로 배치 */
    justify-content: flex-start; /* 텍스트를 상단으로 정렬 */
}

/* 결과 페이지 - 헤더 제목 스타일 */
.result-container h2 {
    color: #4169E1;
    margin-top: 0; /* 상단 마진을 0으로 설정하여 헤더 제목을 상단에 배치 */
    margin-bottom: 20px; /* 하단 마진을 조절 */
    align-self: flex-start; /* 헤더 제목을 상단으로 정렬 */
}

/* 결과 페이지 - 추천 명소 리스트 스타일 */
ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 0; /* 리스트 상단 간격을 없앰 */
}

ul li {
    margin-bottom: 20px;
}

/* 결과 페이지 - 다른 지역 선택 버튼 스타일 */
.choose-another-btn {
    background-color: #F5F5F5;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 0; /* 버튼 상단 간격을 없앰 */
}

.spot-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 세로 가운데 정렬을 위한 높이 설정 */
}

.spot-detail-content {
    text-align: center;
    max-width: 80%; /* 내용의 최대 너비를 조절합니다. */
    margin-top: -150px; /* 텍스트를 위로 올리는 마진을 추가합니다. */
}

.spot-image-box {
    margin-bottom: 20px; /* 이미지 박스와 소개 내용 간격 조절 */
}